{% extends 'layouts/default' %}

{% block content %}

    <div class="search-container">
        <form>
            <select name="order" class="search">
                <option value="">Sort By</option>
                <option value="name" {% if input['order'] == 'name' %}selected{% endif %}>Sort: Name</option>
                <option value="created_at" {% if input['order'] == 'created_at' %}selected{% endif %}>Sort: Date Created</option>
            </select>
            <select name="direction" class="search">
                <option value="ASC" {% if input['direction'] == 'ASC' %}selected{% endif %}>Ascending</option>
                <option value="DESC" {% if input['direction'] == 'DESC' %}selected{% endif %}>Descending</option>
            </select>
            <select name="contains" class="search">
                <option value="">Contains Flavour</option>
                {% for flavour_name, flavour_slug in flavours %}
                    <option value="{{ flavour_slug }}" {% if flavour_slug == input['contains'] %}selected{% endif %}>{{ flavour_name|raw }}</option>
                {% endfor %}
            </select>
            <select name="user" class="search">
                <option value="">By User</option>
                {% for username in users %}
                    <option value="{{ username }}" {% if username == input['user'] %}selected{% endif %}>{{ username|raw }}</option>
                {% endfor %}
            </select>
            <input type="text" name="search" class="search" value="{{ input['search'] }}" placeholder="Search">
            <button type="submit" class="btn-search">Search</button>
            {% if input|length > 0 %}
                <a href="/"><button type="button" class="btn-search">Clear</button></a>
            {% endif %}
        </form>
    </div>

    <div class="results-container">
    {% for mix in mixes %}
        <a href="/mix/{{ mix.slug }}">
            <div class="mixes-container">
                <div class="mix-title">
                    <h1>{{ mix.name }}</h1>
                    <h2>{{ mix.user.username }}</h2>
                </div>
                <div class="mix-icons">
                    {% for flavour in mix.flavours %}
                        <img src="/img/flavimg/{{ flavour.slug }}.png" alt="{{ flavour.name }}" />
                    {% endfor %}
                </div>
            </div>
        </a>
    {% endfor %}
    </div>

    {{ mixes.onEachSide(3).links()|raw }}

    {% if mixes|length == 0 %}
        <div class="mixes-container">
            <h1>No results found.</h1>
        </div>
    {% endif %}

{% endblock %}