{% extends 'layouts/default' %}

{% block content %}

{% if errors|length > 0 %}
    {{ errors }}
{% endif %}

<div class="page-container">
    <div class="title">
        <h1>Upload Image</h1>
    </div>
    <div class="content">
        <form action="/admin/image/upload" method="POST" enctype="multipart/form-data">
            <input type="hidden" value="{{csrf_token()}}" name="_token">
            <input type="text" name="name" placeholder="Title" />
            <input type="text" name="alt_text" placeholder="Alt Text" />
            <input type="file" name="image" placeholder="Image file" accept="image/*" />
            <button type="submit">Upload</button>
        </form>
    </div>
    
    {% if image %}

    Image uploaded with id: {{ image.id }}
    <img src="/image/{{ image.id }}" alt="{{ image.src_text }}">
    {% endif %}
</div>



{% endblock %}